<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - {{application_name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='assets/favicon.png')}}">
    <link href="{{url_for('static', filename='home/styles/style.css')}}" rel="stylesheet">

    <!--    bootstrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <h3>Home Page <i class="fa-solid fa-code"></i></h3>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <p>Application: {{application_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <div class="card">
                    <button class="btn btn-outline-primary btn-sm" onclick="my_function()">Javascript Function</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                Endpoints <i class="fa-solid fa-code"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <div class="card">
                    <a class="btn btn-outline-primary btn-sm" href="/application">Application</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div id="box1" class="col text-center bg-info text-white">
                Box 1
            </div>
            <div id="box2" class="col text-center bg-dark text-white">
                Box 2
            </div>
            <div id="box3" class="col text-center bg-info text-white">
                Box 3
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-primary btn-sm" onclick="updateBox(1)">Atualizar Box 1</button>
                <button class="btn btn-outline-primary btn-sm" onclick="updateBox(2)">Atualizar Box 2</button>
                <button class="btn btn-outline-primary btn-sm" onclick="updateBox(3)">Atualizar Box 3</button>
            </div>
        </div>
    </div>

</div>
</body>
<script src="{{url_for('static', filename='home/js/javascript.js')}}"></script>

<script type="text/javascript">
    function updateBox(boxNumber) {
        fetch(`/update_box${boxNumber}`)
            .then(response => response.json())
            .then(data => {
                const boxElement = document.getElementById(`box${boxNumber}`);
                boxElement.textContent = data.content;
            })
            .catch(error => {
                console.log(error);
            });
    }
    function updateBoxesPeriodically() {
        setInterval(() => {
            updateBox(1);
            updateBox(2);
            updateBox(3);
        }, {{time_update_boxes}});
    }
    updateBoxesPeriodically()
</script>
</html>